body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

.dark-mode {
    background-color: #111111;
    color: #d6d6d6;
}

.test{
    -webkit-filter: invert(1);
    filter: invert(1);
}

.bordo {
    border: 3px outset;
}


.header {
    padding: 10px;
    text-align: center;
}

.login {
    position: absolute;
    right: 0px;
}

.dark-style {
    position: absolute;
    right: 500px;
}

.testo-sx {
    position: absolute;
    left: 0px;
}

h1 {
    color: #133970;
}

.gender {
    margin-top: 20px;
    margin-bottom: -30px;
}
.niggatext{
    background-color:black;
}

.assistenza{
    margin-top: -30px;
    border-left: 6px solid #133970;
}

.container {
    width: 100%;
    height: 50%;
}
.text {
    color: black;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 150%;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}
.overlayR {
    position: absolute;
    margin-left: 5px;
    margin-right: 5px;
    top: 500px;
    width: 33%;
    height: 50%;
    opacity: 0;
    transition: .5s ease;
}
.overlayL {
    position: absolute;
    margin-right: 5px;
    width: 33%;
    height: 50%;
    float: left;
    top:500px;
    opacity: 0;
    transition: .5s ease;
}

.raffaele {
    margin-left: 5px;
    margin-right: 5px;
    width: 33%;
    height: 50%;
    float: left;
    border-collapse: collapse;
    opacity: 1;
}

.luigi {
    margin-right: 5px;
    width: 33%;
    height: 50%;
    float: left;
    border-collapse: collapse;
    opacity: 1;
}

.mattia {
    width: 33%;
    height: 50%;
    position: relative;
    float: left;
    border-collapse: collapse;
    opacity: 1;
}

.raffaele:hover, .luigi:hover, .mattia:hover{
    opacity: 0.5;
    transition: .5s ease;
}

.mattia:hover .overlay{
    opacity: 1;
    transition: .5s ease;
}
.raffaele:hover .overlayR{
    opacity: 1;
    transition: .5s ease;
}
.luigi:hover .overlayL{
    opacity: 1;
    transition: .5s ease;
}

.btnTEST{
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 80px;
}

.center{
align-content: center;
}

.btnDM {
    position: fixed;
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #ff6f00;
    background: white;
    bottom: 5px;
    right: 5px;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.hidden {
    display: none;
}

.showText {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-right: -1px;
    width: 50px;
}

.showBtn {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: -1px;
}

.container1 {
    width: 500px;
    display: block;
    margin: 0 auto;
}

.container2 {
    width: 50%;
    float: left;
}

.pointer{
    cursor: pointer;
}

.no-dm {
    color: #111111;
}

.sesso{
    margin-top: 10px;
    margin-bottom: -20px;
}